/* Header */
#createJourney_btn {
  margin-left: 10px;
}

/* Homepage */
.homepage_banner {
  width: 100%;
  background-color: white;
  padding: 40px 0px;
  white-space: pre-wrap;
}

.homepage_banner-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.homepage_img-container {
  display: inline-block;
}

.homepage_img {
  width: 500px;
  height: 100%;
  margin-right: 20px;
}

.homepage_description-container {
  display: inline-block;
  width: 500px;
  padding-top: 20px;
}

#homepage_img {
  width: 100px;
}

/* Index.js */

.journeyTitle {
  font-size: 30px;
  margin: 1rem 2rem 2.5rem 2rem;
}

/* Card and progress bar */

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 2rem auto !important;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #dadada;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: none;
  max-width: 750px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.progress div {
  transition: all 0.3s ease;
}

/* Modal */
.modalBackground {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
}

.modalContent {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 30px 60px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
}

.modalContent h2 {
  font-size: 24px;
  text-align: center;
  margin: 20px;
}

.modalContent_inputContainer {
  width: 100%;
  margin: 20px auto;
}

.modalContent p {
  margin-top: 10px;
}

.modalContent label {
  width: 100px;
}

.modalContent input {
  border: 1px solid grey;
  margin-left: 10px;
  width: 70%;
  max-width: 200px;
}

.modalContent_btnContainer {
  width: 100%;
  margin: auto;
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

.modalContent .btn {
  margin: 0 20px;
  width: 100px;
}

.hidden {
  display: none;
}

/* Formpage */
.formContainer {
  min-width: 800px;
  max-width: 1000px;
  margin-top: 5%;
  margin-left: 20px;
  margin-right: 20px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 100%;
  border-radius: 5px;
}

.formSaveBtn,
.formAddMilestoneBtn {
  width: 200px;
  height: 60px;
  border: none;
  outline: none;
  background: #6d8185;
  color: white;
  font-size: 22px;
  border-radius: 35px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-top: 25px;
}

.formSaveBtn:hover {
  background: #607477;
}

.formAddMilestoneBtn {
  background: #4a4e6b;
  width: 160px;
  height: 40px;
  font-size: 15px;
}
.formAddMilestoneBtn:hover {
  background: rgb(53, 60, 53);
}

.formPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer h1 {
  font-size: 2rem;
  text-align: center;
  margin: 30px auto;
  font-weight: bold;
}
.formTitleInput {
  min-width: 500px;
  min-height: 30px;
  padding-left: 5px;
  margin-top: 10px;
  padding-right: 5px;
  letter-spacing: 0.5px;
  border: 0;
  border-bottom: 2px solid #f0f0f0;
}
.formTitleInput:valid {
  border-color: #24cf5f;
}
.formTitleInput:focus {
  outline: none;
  border-color: #2c2476;
}

.form_journeyTitle {
  font-size: 1.5rem;
}

.milestoneContainer {
  margin: 2rem auto !important;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #dadada;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}
.milestoneContainer h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  text-align: center;
}

.milestone_input_row label {
  width: 100px;
  font-size: 1rem;
}

.milestone_input_row input,
.milestone_input_row textarea {
  flex: 1;
  margin-bottom: 15px;
  width: 25rem;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 3px;
}

.milestone_input_row textarea {
  height: 100px;
}

#addMilestone {
  margin: 10px 0;
}

#createTimeline {
  clear: right;
}

/* Card and progress bar */

.journey_cards_container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.journey_card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.journey_card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 990px) {
  #createJourney_btn {
    margin: 20px 0;
  }
}
